footer#site-footer.site-footer
  .container
    .foot-nav.row
      nav.link-list.col-xs-2
        span.title= __('nav.sdk')
        a(href=url('mobile-sdk'))
          = __('nav.mobile_sdk')
        a(href=url('ux-sdk'))
          = __('nav.ux_sdk')
        a(href=url('onboard-sdk'))
          = __('nav.onboard_sdk')
        a(href=url('guidance-sdk'))
          = __('nav.guidance_sdk')
        a(href=url('payload-sdk'))
          = __('nav.payload_sdk')
        a(href=url('windows-sdk'))
          = __('nav.windows_sdk')
      nav.link-list.col-xs-2
        span.title= __('nav.info')
        a(href=url('products'))
          = __('nav.products')
      nav.link-list.col-xs-2
        span.title= __('nav.community')
        a(href="https://github.com/dji-sdk", target="_blank")
          = __('nav.github')
        a(href="http://stackoverflow.com/questions/tagged/dji-sdk", target="_blank")
          = __('nav.stackoverflow')
        a(href="https://www.youtube.com/channel/UCPQwN5xsob8zZGIcDhkYqUA", target="_blank")
          = __('nav.youtube')
        a(href="https://twitter.com/djidevelopers", target="_blank")
          = __('nav.twitter')
      nav.link-list.col-xs-2
        span.title= __('nav.contact_us')
        a(href="mailto:dev@dji.com")  dev@dji.com
      nav.link-list.col-xs-3
        span.title= __('nav.contact_us_bd')
        a(href="mailto:dev.bd@dji.com")  dev.bd@dji.com
    .foot-copyright.row
      .col-xs-3.foot-logo
        img(src="/images/dji-logo-foot.png")
      .copyright.col-xs-7
        span= __('nav.copyright')
        a(href=url('policies/privacy'))
          = __('policies.privacy')
        a(href=url('policies/terms'))
          = __('policies.terms')
      .col-xs-2
        .lang-selector
          select(dir="rtl", v-model="lang")
            option(value="en") English
            option(value="cn") 中文
          i.fa.fa-globe