nav#site-header.site-header.navbar
  .container
    .navbar-header
      a.logo(href=url('/'))
        img(src="/images/dji-logo@2x.png")
        | Developer
    #header-navbar.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href=url('/mobile-sdk'))
            = __('nav.mobile_sdk')
        li
          a(href=url('/ux-sdk'))
            = __('nav.ux_sdk')
        li
          a(href=url('/onboard-sdk'))
            = __('nav.onboard_sdk')
        li
          a(href=url('/payload-sdk'))
            = __('nav.payload_sdk')
        li
          a(href=url('/windows-sdk'))
            = __('nav.windows_sdk')
      ul.nav.navbar-nav.navbar-right.nav-user(v-cloak="", v-show="!loggedIn")
        li
          a(href="https://account.dji.com/login?appId=dji_sdk&backUrl=https%3A%2F%2Fdeveloper.dji.com%2Fuser&locale=en_US")= __('nav.login')
        li
          a.head-cta(href="https://account.dji.com/register?appId=dji_sdk&backUrl=https%3A%2F%2Fdeveloper.dji.com%2Fuser&locale=en_US")= __('nav.register')
      ul.nav.navbar-nav.navbar-right.nav-user(v-cloak="", v-show="loggedIn")
        li.hovedown
          a.hovedown-toggle(href="javascript:void(0);")
            i.fa.fa-user
          ul.hovedown-menu.hovedown-menu-right
            li
              a(href=url('/user'))= __('nav.user')
            li
              a(href="javascript:void(0);", v-on="click: logout")= __('nav.logout')
