- var sidebar = site.data['sidebar_' + page.lang]

.site-sidebar
  //- .doc-search
    input(placeholder=__('doc.search_holder') type="text")
    .ico.ico-search
  .nav.scrollable
    each group in sidebar
      dl
        dt
          = group.title
        each item in group.list
          dd
            if (item.list)
              a.sub-toggle(href="javascript:;", class=active_sub_toggle(page.path, item.list))
                = item.title
                i.fa.fa-angle-down
                i.fa.fa-angle-up
              ul.sub-menu
                each subItem in item.list
                  li
                    a(href=relative_url('/'+page.path, subItem.path), class=active_class(page.path, subItem.path))
                      = subItem.title
                    if (active_class(page.path, subItem.path) == 'active')
                      #toc.toc
                        a(v-for="t in titles", :class="{active: t.active}", :href="t.hash", v-text="t.text", @click="jump(t, $event)")
            else
              if (item.extra)
                a(href=item.path, target="_blank")
                  = item.title
                  i.fa.fa-link
              else
                a(href=relative_url('/'+page.path, item.path), class=active_class(page.path, item.path))
                  = item.title
                if (active_class(page.path, item.path) == 'active')
                  #toc.toc
                    a(v-for="t in titles", :class="{active: t.active}", :href="t.hash", v-text="t.text", @click="jump(t, $event)")
