.sub-nav(data-offset-top='60', data-spy='affix')
  .container
    h1.logo= __('nav.' + config.sdk)
    nav
      a(href=url('#{config.sdk}'))= __('sub_nav.overview')
      a.active(href=url('#{config.sdk}/documentation'))= __('sub_nav.documentation')
      a(href=url('#{config.sdk}/downloads'))= __('sub_nav.downloads')
      if config.sdk == 'mobile-sdk'
        a(href=url('#{config.sdk}/support'))= __('sub_nav.support')
