.sub-nav(data-offset-top='60', data-spy='affix')
  .container
    h1.logo= __('nav.' + config.sdk)
    nav
      a(href=url('#{config.sdk}'))= __('sub_nav.overview')
      a.active(href=url('#{config.sdk}/documentation'))= __('sub_nav.documentation')
      span.hovedown.menu-item=__('sub_nav.api_reference')
        span.caret
        ul.hovedown-menu
          li
            a(href=url("/api-reference/ios-api/index.html"))=__('sub_nav.ios_reference')
          li
            a(href=url("/api-reference/android-api/index.html"))=__('sub_nav.android_reference')
      a(href=url('#{config.sdk}/downloads'))= __('sub_nav.downloads')
      if config.sdk == 'mobile-sdk'
        a(href=url('#{config.sdk}/support'))= __('sub_nav.support')
